# ignore emacs backup files
*~

# vscode
.vscode/
*.code-workspace

# build files
*.deb
__pycache__/
StreamDeck_*_*

# application files
.env
.block-list
.naughty-list
*settings.json
run.sh

# ignore plugins except base/core
PiDeck/Plugins/*
!PiDeck/Plugins/core
!PiDeck/Plugins/base
!PiDeck/Plugins/slobs

node_modules/
